flows_kusanagi71.json
[{"id":"415e222e.833b5c","type":"tab","label":"Pixela","disabled":false,"info":""},{"id":"4c379e57.abb1b","type":"tab","label":"Kusa Counter","disabled":false,"info":""},{"id":"47049d9f.6c1b94","type":"tab","label":"Manage","disabled":false,"info":""},{"id":"384d4ce0.77c2e4","type":"tab","label":"Mackerel","disabled":false,"info":""},{"id":"89de7de6.13ff6","type":"tab","label":"Sandbox","disabled":false,"info":""},{"id":"3c17b71.4497e48","type":"pixela-client","z":"","name":"pixela-config"},{"id":"70546d19.336244","type":"ui_group","z":"","name":"KusaButton","tab":"5b228e6.578827","order":1,"disp":true,"width":"12","collapse":false},{"id":"17bde4f1.7a835b","type":"ui_group","z":"","name":"Koudenpa's Node-RED deploy count","tab":"5b228e6.578827","order":2,"disp":true,"width":"12","collapse":false},{"id":"5b228e6.578827","type":"ui_tab","z":"","name":"Pixela","icon":"dashboard","order":1},{"id":"728f79b9.8e21e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d9796bee.0a76f8","type":"git-nodes-config","z":"","name":"7474/node-red-flow-test-repo","git":"git@github.com:7474/node-red-flow-test-repo.git"},{"id":"2b2b1386.ceea2c","type":"ui_tab","z":"","name":"Pixela Manage","icon":"dashboard","order":2},{"id":"2dd437da.eb3948","type":"ui_group","z":"","name":"New Graph","tab":"2b2b1386.ceea2c","order":1,"disp":true,"width":"6","collapse":false},{"id":"66f89e23.137fa","type":"ui_tab","z":"","name":"Pixela Counter","icon":"dashboard","order":3},{"id":"e7ed0469.56adf8","type":"ui_group","z":"","name":"New Counter","tab":"66f89e23.137fa","order":1,"disp":true,"width":"6","collapse":false},{"id":"15fbf139.b646af","type":"mackerel-config","z":"","name":"mackerel-config"},{"id":"12042faa.58178","type":"inject","z":"415e222e.833b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":134,"y":80,"wires":[["bc484457.f6b1e8"]]},{"id":"bc484457.f6b1e8","type":"pixela","z":"415e222e.833b5c","name":"","method":"PUT","path":"/graphs/node-red-deploy/increment","apiclient":"3c17b71.4497e48","x":400,"y":80,"wires":[[]]},{"id":"7e16b361.0af8fc","type":"ui_button","z":"415e222e.833b5c","name":"","group":"70546d19.336244","order":1,"width":0,"height":0,"passthru":false,"label":"w","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":114,"y":384,"wires":[["60f0f648.046278"]]},{"id":"f6ca6f8e.fa404","type":"ui_template","z":"415e222e.833b5c","group":"17bde4f1.7a835b","name":"node-red-deploy","order":1,"width":"12","height":"4","format":"<img src=\"https://pixe.la/v1/users/koudenpa/graphs/node-red-deploy\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":140,"y":580,"wires":[[]]},{"id":"60f0f648.046278","type":"pixela","z":"415e222e.833b5c","name":"","method":"PUT","path":"/graphs/www/increment","apiclient":"3c17b71.4497e48","x":226,"y":432,"wires":[["7c37ea57.322464","f90bd551.588768"]]},{"id":"6a8dd56.fcfdf2c","type":"ui_template","z":"415e222e.833b5c","group":"70546d19.336244","name":"www","order":2,"width":"12","height":"4","format":"<img src=\"https://pixe.la/v1/users/koudenpa/graphs/www?{{msg.timestamp}}\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":514,"y":480,"wires":[[]]},{"id":"7c37ea57.322464","type":"change","z":"415e222e.833b5c","name":"Set timestamp","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":352,"y":480,"wires":[["6a8dd56.fcfdf2c"]]},{"id":"c5f04d64.30b5c","type":"ui_toast","z":"415e222e.833b5c","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":698,"y":432,"wires":[]},{"id":"f90bd551.588768","type":"template","z":"415e222e.833b5c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"w {{payload.message}}","output":"str","x":524,"y":432,"wires":[["c5f04d64.30b5c"]]},{"id":"e38c3a9f.032b48","type":"catch","z":"415e222e.833b5c","name":"","scope":null,"x":124,"y":192,"wires":[["16260c35.3c3b34","ffdfd9f2.70a5a8","e3cb4b54.98fd08"]]},{"id":"edf7486e.e8d428","type":"ui_toast","z":"415e222e.833b5c","position":"top right","displayTime":"3","highlight":"#ff8080","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":490,"y":192,"wires":[]},{"id":"16260c35.3c3b34","type":"template","z":"415e222e.833b5c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Catch Error. {{payload.message}}","output":"str","x":300,"y":192,"wires":[["edf7486e.e8d428"]]},{"id":"ffdfd9f2.70a5a8","type":"debug","z":"415e222e.833b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":224,"wires":[]},{"id":"fa520de1.76ae7","type":"comment","z":"415e222e.833b5c","name":"Kusa On Node-RED Deploy","info":"","x":136,"y":32,"wires":[]},{"id":"9d8a88c7.eaf6e8","type":"comment","z":"415e222e.833b5c","name":"Handle Error","info":"","x":86,"y":144,"wires":[]},{"id":"f806acaf.8c7d7","type":"comment","z":"415e222e.833b5c","name":"Node-RED Dashboard Kusa Button","info":"","x":156,"y":336,"wires":[]},{"id":"3c2b363e.73861a","type":"comment","z":"415e222e.833b5c","name":"Count Graphs","info":"","x":90,"y":540,"wires":[]},{"id":"e3cb4b54.98fd08","type":"http response","z":"415e222e.833b5c","name":"","statusCode":"500","headers":{},"x":300,"y":256,"wires":[]},{"id":"7273d531.5c3e4c","type":"ui_template","z":"415e222e.833b5c","group":"70546d19.336244","name":"Dashboard Access Counter","order":0,"width":0,"height":0,"format":"<h4>Kusa Button Dashboard Access Counter</h4>\n<img src=\"/pixela/counter/wbtndb-counter?mode=short\" \n    style=\"width: 200px;\">\n\n<ol>\n    <li>Set Node-RED Flow counter endpoint to img src. `/pixela/counter/wbtndb-counter`\n    </li>\n    <li>Call Pixela increment API.</li>\n    <li>Redirect to Pixela graph endpoint.</li>\n    <li>Display incremented graph.</li>\n</ol>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":380,"y":580,"wires":[[]]},{"id":"f09ec3d1.e21db","type":"git-nodes","z":"47049d9f.6c1b94","label":"7474/node-red-flow-test-repo","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"","debugging":true,"git":"d9796bee.0a76f8","x":140,"y":80,"wires":[]},{"id":"8a8f1a6b.32eea8","type":"comment","z":"47049d9f.6c1b94","name":"Node-REDリソース管理","info":"","x":130,"y":40,"wires":[]},{"id":"a46aa335.5024e","type":"ui_form","z":"415e222e.833b5c","name":"","label":"Create new graph","group":"2dd437da.eb3948","order":0,"width":0,"height":0,"options":[{"label":"id","value":"id","type":"text","required":true},{"label":"name","value":"name","type":"text","required":true},{"label":"unit","value":"unit","type":"text","required":true},{"label":"type","value":"type","type":"text","required":true},{"label":"color","value":"color","type":"text","required":true}],"formValue":{"id":"","name":"","unit":"","type":"","color":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":920,"wires":[["506eab41.173d94"]]},{"id":"45201bf0.80ee24","type":"pixela","z":"415e222e.833b5c","name":"POST Graph","method":"POST","path":"/","apiclient":"3c17b71.4497e48","x":510,"y":920,"wires":[["517b7a01.388b44","2ce9e069.22a28"]]},{"id":"506eab41.173d94","type":"function","z":"415e222e.833b5c","name":"","func":"msg.method = \"POST\";\nmsg.path = \"/graphs\";\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":920,"wires":[["45201bf0.80ee24","2ce9e069.22a28"]]},{"id":"cb0316b5.881758","type":"ui_toast","z":"415e222e.833b5c","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":870,"y":920,"wires":[]},{"id":"517b7a01.388b44","type":"template","z":"415e222e.833b5c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"w {{payload.message}}","output":"str","x":700,"y":920,"wires":[["cb0316b5.881758"]]},{"id":"e56b08a.e3faaf8","type":"comment","z":"415e222e.833b5c","name":"Pixela Manage","info":"","x":100,"y":880,"wires":[]},{"id":"2ce9e069.22a28","type":"debug","z":"415e222e.833b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":980,"wires":[]},{"id":"bae647e9.c50948","type":"ui_form","z":"4c379e57.abb1b","name":"","label":"Create new counter","group":"e7ed0469.56adf8","order":0,"width":0,"height":0,"options":[{"label":"id","value":"id","type":"text","required":true},{"label":"color","value":"color","type":"text","required":false}],"formValue":{"id":"","color":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":300,"wires":[["56461838.c0e158"]]},{"id":"341f1194.f2f4ce","type":"pixela","z":"4c379e57.abb1b","name":"POST Graph","method":"POST","path":"/","apiclient":"3c17b71.4497e48","x":510,"y":300,"wires":[["88d5d748.510758","5e7e6a4a.7fa004","bbe421df.db4a4"]]},{"id":"56461838.c0e158","type":"function","z":"4c379e57.abb1b","name":"","func":"msg.method = \"POST\";\nmsg.path = \"/graphs\";\nvar q = msg.payload;\nmsg.payload = {\n    id: q.id,\n    name: q.id,\n    unit: \"view\",\n    type: \"int\",\n    color: q.color || \"shibafu\"\n};\nmsg.graphUrl = \"https://node-red.7474.jp:8443/pixela/counter/\" + q.id + \"?mode=short\";\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["341f1194.f2f4ce","5e7e6a4a.7fa004"]]},{"id":"804441eb.f4e16","type":"ui_toast","z":"4c379e57.abb1b","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":870,"y":300,"wires":[]},{"id":"88d5d748.510758","type":"template","z":"4c379e57.abb1b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"w {{payload.message}}","output":"str","x":700,"y":300,"wires":[["804441eb.f4e16"]]},{"id":"b044b08f.4f5af","type":"comment","z":"4c379e57.abb1b","name":"Create Counter Graph","info":"","x":120,"y":260,"wires":[]},{"id":"5e7e6a4a.7fa004","type":"debug","z":"4c379e57.abb1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":360,"wires":[]},{"id":"bbe421df.db4a4","type":"ui_text","z":"4c379e57.abb1b","group":"e7ed0469.56adf8","order":0,"width":0,"height":0,"name":"","label":"Created counter embed snipet","format":"&lt;img src=\"{{msg.graphUrl}}\"&gt;","layout":"col-center","x":830,"y":360,"wires":[]},{"id":"e5ab05e8.daeef8","type":"http in","z":"4c379e57.abb1b","name":"","url":"/pixela/counter/:graph","method":"get","upload":false,"swaggerDoc":"","x":170,"y":80,"wires":[["8224ba3c.ac69b8"]]},{"id":"ebef3344.c821d","type":"comment","z":"4c379e57.abb1b","name":"Kusa Counter","info":"","x":86,"y":36,"wires":[]},{"id":"85e85cfd.f8807","type":"http response","z":"4c379e57.abb1b","name":"","statusCode":"","headers":{},"x":650,"y":140,"wires":[]},{"id":"d37ca18d.4107","type":"function","z":"4c379e57.abb1b","name":"Set redirect parameter","func":"var qs = \"\";\nif (msg.req.query) {\n    var q = msg.req.query;\n    qs = \"?\" + Object.keys(q).map(function(k) { return k + \"=\" + q[k]; }).join(\"&\");\n}\n\nmsg.statusCode = 303;\nmsg.headers = {\n    Location: \"https://pixe.la/v1/users/koudenpa/graphs/\" + msg.req.params.graph + qs\n}\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["85e85cfd.f8807","45622530.4d2b4c"]]},{"id":"b5c40c32.e195e","type":"pixela","z":"4c379e57.abb1b","name":"PUT Increment","method":"PUT","path":"/","apiclient":"3c17b71.4497e48","x":220,"y":140,"wires":[["d37ca18d.4107"]]},{"id":"8224ba3c.ac69b8","type":"function","z":"4c379e57.abb1b","name":"Set Pixela parameter","func":"msg.path = \"/graphs/\" + msg.req.params.graph + \"/increment\";\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":80,"wires":[["b5c40c32.e195e"]]},{"id":"45622530.4d2b4c","type":"debug","z":"4c379e57.abb1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":180,"wires":[]},{"id":"94e06f31.c03ab","type":"catch","z":"4c379e57.abb1b","name":"","scope":null,"x":120,"y":460,"wires":[["296fa738.28adc8","8698d2f0.e83ee","b71b2d32.a6415"]]},{"id":"1c7f4dbd.5f45a2","type":"ui_toast","z":"4c379e57.abb1b","position":"top right","displayTime":"3","highlight":"#ff8080","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":486,"y":460,"wires":[]},{"id":"296fa738.28adc8","type":"template","z":"4c379e57.abb1b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Catch Error. {{payload.message}}","output":"str","x":296,"y":460,"wires":[["1c7f4dbd.5f45a2"]]},{"id":"8698d2f0.e83ee","type":"debug","z":"4c379e57.abb1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":286,"y":492,"wires":[]},{"id":"1b94e481.d3bd1b","type":"comment","z":"4c379e57.abb1b","name":"Handle Error","info":"","x":90,"y":420,"wires":[]},{"id":"b71b2d32.a6415","type":"http response","z":"4c379e57.abb1b","name":"","statusCode":"500","headers":{},"x":296,"y":524,"wires":[]},{"id":"23cd4eed.31dac2","type":"mackerel","z":"384d4ce0.77c2e4","config":"15fbf139.b646af","name":"","method":"GET","path":"/api/v0/alerts","x":390,"y":80,"wires":[["6412e694.623de8","fe74adb8.b35df"]]},{"id":"3a07e5d.8d2f61a","type":"inject","z":"384d4ce0.77c2e4","name":"Inject per 5 minute","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":"","x":160,"y":80,"wires":[["23cd4eed.31dac2"]]},{"id":"6412e694.623de8","type":"switch","z":"384d4ce0.77c2e4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":140,"wires":[["10793ef8.6c4cd1"],[]]},{"id":"10793ef8.6c4cd1","type":"function","z":"384d4ce0.77c2e4","name":"Summary alert count","func":"let time = (new Date()).getTime() / 1000;\nlet alertCount = msg.payload.alerts.length;\n\nmsg.serviceName = \"node-red\";\nmsg.payload = new Array({\n    name: \"alert-count\",\n    time: time,\n    value: alertCount\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":140,"wires":[["73d294b6.48bf6c"]]},{"id":"73d294b6.48bf6c","type":"mackerel","z":"384d4ce0.77c2e4","config":"15fbf139.b646af","name":"POST AlertCount","method":"POST","path":"/api/v0/services/{{{serviceName}}}/tsdb","x":790,"y":140,"wires":[["fe74adb8.b35df"]]},{"id":"fe74adb8.b35df","type":"debug","z":"384d4ce0.77c2e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":80,"wires":[]},{"id":"3bc3d12f.17340e","type":"comment","z":"384d4ce0.77c2e4","name":"Open Alert Count Metric","info":"","x":120,"y":40,"wires":[]},{"id":"e6fdecd5.8053d","type":"http in","z":"89de7de6.13ff6","name":"","url":"/sandbox/post","method":"post","upload":false,"swaggerDoc":"","x":130,"y":60,"wires":[["6074127d.a3c09c","817e04ad.bd97f8"]]},{"id":"817e04ad.bd97f8","type":"http response","z":"89de7de6.13ff6","name":"","statusCode":"200","headers":{},"x":360,"y":100,"wires":[]},{"id":"6074127d.a3c09c","type":"debug","z":"89de7de6.13ff6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":350,"y":60,"wires":[]},{"id":"b535c5af.ba5f78","type":"http in","z":"89de7de6.13ff6","name":"","url":"/sandbox/get","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["817e04ad.bd97f8","6074127d.a3c09c"]]}]